<div class="title">
  <h1>Scoreboard</h1>
</div>

<div class="scoreboard">
  <% @users.each do |user| %>
    <%= render 'scoreboards/scoreboard_card', user: user %>
    </div>
  <% end %>
</div>













