
<div class="title">
  <h1>Scoreboard</h1>
</div>

<br>

<% @users.each do |user| %>
<div class="scoreboard">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="scoreboard-username">
    <h3><%= user.username %></h3>
  </div>

  <div class="scoreboard-score">
    <p class="score"><%= user.score %></p>
  </div>
</div>
<% end %>













