<div class="scoreboard-card" id="user-search-<%= user.id %>">
  <img class="scoreboard-avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

  <div class="scoreboard-username">
    <p class="user-paragraph"><%= user.username %></p>
  </div>

  <div class="scoreboard-score">
  <% if current_user.is_following?(user) %>
    <%= link_to "unfollow", unfollow_user_path(user), method: :post, remote: true %>
    <% else %>
    <%= link_to "follow", follow_user_path(user), method: :post, remote: true %>
    <% end %>
  </div>
</div>
