<div class="title">
  <h1>Follow your friends</h1>
</div>

<div class="scoreboard-search">
  <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for friends"
    %>
  <% end %>
</div>

<div class="scoreboard">
  <% @users.each do |user| %>
      <%= render 'users/user_item', user: user %>
  <% end %>
</div>
