<h1>Follow your friends</h1>
<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for friends"
  %>
<% end %>

<% @users.each do |user|  %>
<p><%=link_to user.username, follow_user_path(user), method: :post %></p>
<% end %>
