<div class="footer">
  <div class="footer-links">
    <a href="#">Habits</i></a>
    <a href="#">New</i></a>
    <a href="#">Scoreboard</i></a>
    <a href="#">Find</i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Joao & Romain
  </div>
</div>


