<div class="footer">
  <div class="footer-links">
    <%= link_to "Habits", habits_path %>
    <%= link_to "New", new_habit_path %>
    <%= link_to "Scoreboard", scoreboards_path %>
    <%= link_to "Find" %>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Joao & Romain
  </div>
</div>


