
<head>
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


</head>

<body>

  <div class="container">
    <div class="row">
      <div id="my-slider" class="carousel slide" data-ride="carousel">


        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="https://cdn1.medicalnewstoday.com/content/images/articles/308/308796/mixed-fruits.jpg" alt="fuits" />
            <div class="carousel-caption">
              <h1>Habits</h1>

            </div>


          </div>
        </div>



      </div>
      </div>
    </div>
  </div>
</body>


