
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Change your life: Build habits!</h1>
    <p>"Chains of habit are too light to be felt until they are too heavy to be broken"</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-danger"  %>
  </div>
</div>
