
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Change your life: Build habits</h1>
    <br>
    <br>
    <br>
    <br>
   <br>
    <br>
    <br>c
    <%= link_to "Create a habit", new_user_registration_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), background="undraw_order_confirmed_1m3v.svg";">
    </div>
    <div class="container">
      <div class="cards">
        <div class="row ">
          <div class="col-xs-12 col-md-4">
            <div class="card-landing">
              <h4>Create habits</h4>
              <p>Create your habit. We send you daily reminder so you keep on track! </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="card-landing">
              <h4>Score points</h4>
              <p>Get rewards as you complete habits</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="card-landing">
              <h4>Compete with friends</h4>
              <p>Follow your friends. Stay at the top of the scoreboard!</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
