
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Change your life: Build habits</h1>
    <p>Create life changing habits with your friends</p>
    <%= link_to "Create a habit", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    </div> -->
    <div class="cards text-center">
      <div class="create">
        <h4>CREATE HABITS</h4>
        <p>Create your habit. We send you daily reminder to help you build habits</p>
      </div>
      <div class="points">
        <h4>EARN POINTS</h4>
        <p>Gain points as you build habit</p>
      </div>
      <div class="compete">
        <h4>COMPETE WITH FRIENDS</h4>
        <p>Follow your friends. Stay at the top of your scoreboard!</p>
      </div>
    </div>
  </div>
</div>
