.card-landing {
  padding: 10px 0px;
  margin-bottom: 15px;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;
}

.cards {
  padding: 20px 0px;
}


h4 {
  font-weight: initial;
  font-size: 20px;
}

p {
  padding: 25px;
  font-weight: lighter;
  font-size: initial;
}
