.form {
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: auto;
  text-align: center;
  vertical-align: middle;
  //font-size: 10px;
  //padding: 20px, 20px auto;
}

.form-inputs{
  margin-top: 10%;
}

.d-flex{
  display: flex;
  padding-bottom: 25px;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

#habit_name{
  width: 50%;
}

.form-control{
  border-radius: 30px;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
}

.form-group{
  padding-top: 10px;


}

.form-actions{
  padding-bottom: 40px;
}

.collection_check_boxes {
  padding: 10px;
}

.collection_radio_buttons {
  padding: 10px;
}

.form-check-input{
  //color: red;
}

#habit_days_mon{
  color: red;
}


.habit_days{
  display:flex;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;
}


.habit_unit{
  display:flex;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;

}
