 <div id="habit-<%= habit.id %>">
  <%=link_to habit.name, edit_habit_path(habit) %>
  <% if habit.done? %>
  <i class="fa fa-check"></i>
  <% else %> 
  <%= link_to 'mark as done', done_habit_path(habit), method: :post, remote: true %>
  <% end %>

 </div>
